@import url('https://fonts.googleapis.com/css2?family=SN+Pro:ital,wght@0,200..900;1,200..900&display=swap');
@import "tailwindcss";

@theme {
  --color-background: var(--color-white);
  --color-primary: var(--color-neutral-900);
  --color-primary-foreground: var(--color-zinc-100);
  --border-color

  --font-sans: 'SN Pro', sans-serif;
}

:root {
  --header-height: 3rem;
  --footer-height: 1.5rem;
  --border-color: var(--color-neutral-200);
  /* --remove-height: calc(var(--header-height)+var(--footer-height)); */
}

body {
  background-color: var(--color-background);
  /* color: var(--color-primary-foreground); */
  font-family: var(--font-sans);
}